<div class="card mb-3 animated fadeIn ">
  <h5 class="card-header animated fadeIn fast">
    Brief explannation
  </h5>

  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../../assets/img/espiral_fibo.jpg" width="300" height="200" alt="" loading="lazy" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        
        <h5 class="card-title">¿Cómo funciona la serie Fibonacci?</h5>
        
        <p class="card-text">
          Consta de una serie de números naturales que se suman de a 2, a partir de 0 y 1. Básicamente, la sucesión de Fibonacci se realiza sumando siempre los últimos 2 números (Todos los números presentes en la sucesión se llaman números de Fibonacci) de la siguiente manera: 0,1,1,2,3,5,8,13,21,34 ...  
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5 class="card-title mt-5">¿Qué es la secuencia Fibonacci y cómo funciona?</h5>
      <p class="card-text">
        En matemáticas, la sucesión o serie de Fibonacci hace referencia a la secuencia ordenada de números descrita por Leonardo de Pisa, matemático italiano del siglo XIII: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144,… A cada uno de los elementos de la serie se le conoce con el nombre de número de Fibonacc
      </p>

      <h5 class="card-title mt-5">¿Cómo surgio la sucesion de Fibonacci?</h5>
      <p class="card-text">
        La sucesión comienza con los números 0 y 1,​ a partir de estos, «cada término es la suma de los dos anteriores», es la relación de recurrencia que la define. A los elementos de esta sucesión se les llama números de Fibonacci.
      </p>

      <h5 class="card-title mt-5">¿Quién fue Fibonacci?</h5>
      <p class="card-text">
        Leonardo de Pisa, también conocido como Leonardo Fibonacci, fue un destacado matemático de origen italiano que saltó al reconocimiento mundial como consecuencia de haber promovido y difundido por toda Europa el sistema de numeración indo arábigo, que hoy empleamos con normalidad.
      </p>
    
    </div>    
  </div>

</div>